{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center my-5 text-dark">Opciones de Administración</h1>
    <div class="row">

        <!-- Tarjeta para Crear Estado Civil -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-gender-ambiguous"></i> Crear Estado Civil
                    </h5>
                    <p class="card-text text-light">Gestiona el estado civil para los usuarios.</p>
                    <a href="{% url 'crear_estado_civil' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Estado Civil
                    </a>
                </div>
            </div>
        </div>
         <!-- Tarjeta para Crear Tipo Documento  -->
         <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-badge"></i> Crear Tipo Documento
                    </h5>
                    <p class="card-text text-light">Gestiona el Tipo de documento para los usuarios.</p>
                    <a href="{% url 'crear_tipo_documento' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Tipo Documento
                    </a>
                </div>
            </div>
        </div>
         <!-- Tarjeta para Crear Persona  -->
         <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Persona
                    </h5>
                    <p class="card-text text-light">Gestiona la Persona para los usuarios.</p>
                    <a href="{% url 'crear_persona' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Persona
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta para Crear Documento Persona  -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Documento Persona
                    </h5>
                    <p class="card-text text-light">Gestiona Documento Persona de los usuarios.</p>
                    <a href="{% url 'crear_documento_persona' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Documento Persona
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta para Crear Status Cuenta  -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Status Cuenta
                    </h5>
                    <p class="card-text text-light">Gestiona para Status Cuenta de los usuarios.</p>
                    <a href="{% url 'crear_status_cuenta' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Status Cuenta
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta para Crear Tipo Saldo Cuenta  -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Tipo Saldo Cuenta
                    </h5>
                    <p class="card-text text-light">Gestiona para Tipo Saldo Cuenta de los usuarios.</p>
                    <a href="{% url 'crear_tipo_saldo_cuenta' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Tipo Saldo Cuenta
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta para Crear Saldo Cuenta  -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Saldo Cuenta
                    </h5>
                    <p class="card-text text-light">Gestiona para Saldo Cuenta de las personas.</p>
                    <a href="{% url 'crear_saldo_cuenta' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Saldo Cuenta
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta para Crear Tipo de Movimiento CXC  -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Tipo de Movimiento CXC
                    </h5>
                    <p class="card-text text-light">Gestiona para Tipo de Movimiento CXC.</p>
                    <a href="{% url 'crear_tipo_movimiento_cxc' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Tipo de Movimiento CXC
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center shadow border-0 h-100" style="background-color: #212529;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-light">
                        <i class="bi bi-person-check"></i> Crear Movimiento Cuenta
                    </h5>
                    <p class="card-text text-light">Gestiona para Movimiento Cuenta.</p>
                    <a href="{% url 'movimiento_cuenta' %}" class="btn btn-outline-primary mt-auto">
                        <i class="bi bi-plus-circle"></i> Crear Movimiento Cuenta
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}