{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Estado Usuario
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Estado Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../estatus_usuario/" method="POST" class="form-group">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">{{ form.nombre.label_tag }}</label>
              {{ form.nombre }}
          </div>
          <div class="mb-3">
            <label class="form-label" input-opacity>{{ form.usuario_creacion.label_tag }}</label>
              {{ form.usuario_creacion }}
          </div>
          <div class="mb-3">
            <label class="form-label" input-opacity>{{ form.usuario_modificacion.label_tag }}</label>
              {{ form.usuario_modificacion }}
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary" title="Enviar">
              Enviar
              <i class="bi bi-send icon-margin"></i>
            </button>
          </div>
        </form>

        <!-- Tabla para mostrar el listado de estados de usuario -->
        <hr>
        <h5>Listado de Estados de Usuario</h5>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Usuario Creación</th>
              <th>Usuario Modificación</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for estatus in listado_estatus_usuario %}
              <tr>
                <td>{{ estatus.nombre }}</td>
                <td>{{ estatus.usuario_creacion }}</td>
                <td>{{ estatus.usuario_modificacion }}</td>
                <td><button class="btn btn-warning btn-sm" title="Editar">
                  <i class="bi bi-pencil"></i>
                </button></td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4">No hay estados de usuario creados</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
