{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Crear/Editar Persona</h1>

    <form id="personaForm" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            <label for="id_apellido" class="form-label">{{ form.apellido.label }}</label>
            {{ form.apellido }}
        </div>
        <div class="mb-3">
            <label for="id_fecha_nacimiento" class="form-label">{{ form.fecha_nacimiento.label }}</label>
            {{ form.fecha_nacimiento }}
        </div>
        <div class="mb-3">
            <label for="id_genero" class="form-label">{{ form.genero.label }}</label>
            {{ form.genero }}
        </div>
        <div class="mb-3">
            <label for="id_direccion" class="form-label">{{ form.direccion.label }}</label>
            {{ form.direccion }}
        </div>
        <div class="mb-3">
            <label for="id_telefono" class="form-label">{{ form.telefono.label }}</label>
            {{ form.telefono }}
        </div>
        <div class="mb-3">
            <label for="id_correo_electronico" class="form-label">{{ form.correo_electronico.label }}</label>
            {{ form.correo_electronico }}
        </div>
        <div class="mb-3">
            <label for="id_estado_civil" class="form-label">{{ form.estado_civil.label }}</label>
            {{ form.estado_civil }}
        </div>
        <div class="mb-3">
            <label for="id_tipo_documento" class="form-label">{{ form.tipo_documento.label }}</label>
            {{ form.tipo_documento }}
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Enviar
            <i class="bi bi-send"></i>
        </button>
    </form>

    <h5 class="mt-4">Listado de Personas</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Género</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Estado Civil</th>
                <th>Tipo Documento</th>
                <th>Usuario Creación</th>
                <th>Usuario Modificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in listado_personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.fecha_nacimiento }}</td>
                <td>{{ persona.genero }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.correo_electronico }}</td>
                <td>{{ persona.estado_civil }}</td>
                <td>{{ persona.tipo_documento }}</td>
                <td>{{ persona.usuario_creacion }}</td>
                <td>{{ persona.usuario_modificacion }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" data-id="{{ persona.id }}" data-nombre="{{ persona.nombre }}"
                        title="Editar" onclick="editarPersona('{{ persona.id }}', '{{ persona.nombre }}');">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-id="{{ persona.id }}" title="Eliminar"
                        onclick="eliminarPersona('{{ persona.id }}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="12">No hay personas creadas</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'menu_principal' %}" class="btn btn-danger mb-3">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div>

<!-- Modal para editar persona -->
<div class="modal fade" id="editarPersonaModal" tabindex="-1" aria-labelledby="editarPersonaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarPersonaModalLabel">Editar Persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarPersonaForm">
                    <input type="hidden" id="edit-persona-id" name="id">
                    <div class="mb-3">
                        <label for="edit-nombre-persona" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="edit-nombre-persona" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-apellido-persona" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="edit-apellido-persona" name="apellido" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-fecha-nacimiento" class="form-label">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" id="edit-fecha-nacimiento" name="fecha_nacimiento">
                    </div>
                    <div class="mb-3">
                        <label for="edit-genero" class="form-label">Género:</label>
                        <select class="form-control" id="edit-genero" name="genero">
                            {% for genero in generos %}
                                <option value="{{ genero.id }}">{{ genero.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-direccion" class="form-label">Dirección:</label>
                        <input type="text" class="form-control" id="edit-direccion" name="direccion">
                    </div>
                    <div class="mb-3">
                        <label for="edit-telefono" class="form-label">Teléfono:</label>
                        <input type="text" class="form-control" id="edit-telefono" name="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="edit-correo-electronico" class="form-label">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="edit-correo-electronico" name="correo_electronico">
                    </div>
                    <div class="mb-3">
                        <label for="edit-estado-civil" class="form-label">Estado Civil:</label>
                        <select class="form-control" id="edit-estado-civil" name="estado_civil">
                            {% for estado in estados_civiles %}
                                <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-tipo-documento" class="form-label">Tipo de Documento:</label>
                        <select class="form-control" id="edit-tipo-documento" name="tipo_documento">
                            {% for tipo in tipos_documentos %}
                                <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="actualizarPersonaBtn">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Funciones JavaScript para gestionar la creación, edición y eliminación de personas
    document.getElementById('personaForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const id = document.getElementById('id_persona') ? document.getElementById('id_persona').value : null;

        if (id) {
            Swal.fire({
                title: '¿Está seguro que desea actualizar esta persona?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    enviarDatosPersona(formData, id, 'PUT');
                }
            });
        } else {
            enviarDatosPersona(formData, null, 'POST');
        }
    });

    function enviarDatosPersona(formData, id = null, method = 'POST') {
        const url = id ? `/users/personas/editar/${id}/` : '{% url "personas" %}';
        fetch(url, {
            method: method,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.Persona) {
                Swal.fire('¡Éxito!', 'Persona creada con éxito.', 'success');
                document.getElementById('personaForm').reset();
                actualizarTablaPersonas();
            } else {
                Swal.fire('¡Error!', 'Hubo un problema al crear o actualizar la persona.', 'error');
            }
        })
        .catch(error => {
            Swal.fire('¡Error!', 'Hubo un problema en la solicitud.', 'error');
        });
    }

    function actualizarTablaPersonas() {
        fetch('/users/personas/')
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector('table tbody');
            tbody.innerHTML = '';

            data.forEach(persona => {
                const row = `<tr>
                    <td>${persona.nombre}</td>
                    <td>${persona.apellido}</td>
                    <td>${persona.fecha_nacimiento}</td>
                    <td>${persona.genero}</td>
                    <td>${persona.direccion}</td>
                    <td>${persona.telefono}</td>
                    <td>${persona.correo_electronico}</td>
                    <td>${persona.estado_civil}</td>
                    <td>${persona.tipo_documento}</td>
                    <td>${persona.usuario_creacion}</td>
                    <td>${persona.usuario_modificacion}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" data-id="${persona.id}" data-nombre="${persona.nombre}" title="Editar"
                            onclick="editarPersona('${persona.id}', '${persona.nombre}')">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-id="${persona.id}" title="Eliminar"
                            onclick="eliminarPersona('${persona.id}');">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>`;
                tbody.innerHTML += row;
            });
        });
    }

    function editarPersona(id, nombre) {
    // Rellenar los datos en el modal
    document.getElementById('edit-persona-id').value = id;
    document.getElementById('edit-nombre-persona').value = nombre;
    
    // Mostrar el modal
    var editarPersonaModal = new bootstrap.Modal(document.getElementById('editarPersonaModal'));
    editarPersonaModal.show();
    // Cargar los demás datos de la persona a través de una solicitud AJAX
    
}

// Manejar la actualización de la persona al hacer clic en "Actualizar"
document.getElementById('actualizarPersonaBtn').addEventListener('click', function () {
    const id = document.getElementById('edit-persona-id').value;
    const nombreOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-nombre');
    const nombreNuevo = document.getElementById('edit-nombre-persona').value;

    // Verificar si hubo cambios antes de enviar el formulario
    if (nombreNuevo !== nombreOriginal) {
        Swal.fire({
            title: '¿Guardar cambios?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, actualizar',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                // Enviar los datos con AJAX
                const formData = new FormData(document.getElementById('editarPersonaForm'));
                actualizarPersona(formData);
            }
        });
    } else {
        Swal.fire('Sin cambios', 'No se han realizado cambios en los datos de la persona.', 'info');
    }
});

    function actualizarPersona(formData) {
    const id = document.getElementById('edit-persona-id').value;

    fetch(`/users/personas/editar/${id}/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire('Éxito', 'Persona actualizada con éxito.', 'success').then(() => {
                // Actualizar la fila correspondiente en la tabla
                const button = document.querySelector(`button[data-id="${id}"]`);
                if (button) {
                    // Actualizar los datos en la tabla
                    button.setAttribute('data-nombre', formData.get('nombre'));
                    const row = button.closest('tr');
                    row.querySelector('td:nth-child(1)').textContent = formData.get('nombre');
                    row.querySelector('td:nth-child(2)').textContent = formData.get('apellido');
                    row.querySelector('td:nth-child(3)').textContent = formData.get('fecha_nacimiento');
                    row.querySelector('td:nth-child(4)').textContent = data.genero_nombre;
                    row.querySelector('td:nth-child(5)').textContent = formData.get('direccion');
                    row.querySelector('td:nth-child(6)').textContent = formData.get('telefono');
                    row.querySelector('td:nth-child(7)').textContent = formData.get('correo_electronico');
                    row.querySelector('td:nth-child(8)').textContent = data.estado_civil_nombre;
                    row.querySelector('td:nth-child(9)').textContent = data.tipo_documento_nombre;
                    row.querySelector('td:nth-child(11)').textContent = data.usuario_modificacion;
                }
                // Cerrar el modal
                var editarPersonaModal = bootstrap.Modal.getInstance(document.getElementById('editarPersonaModal'));
                editarPersonaModal.hide();
            });
        } else {
            Swal.fire('Error', 'Hubo un problema al actualizar la persona.', 'error');
        }
    })
    .catch(error => {
        Swal.fire('Error', 'Hubo un problema en la solicitud.', 'error');
    });
}
    

    function eliminarPersona(id) {
        Swal.fire({
            title: '¿Está seguro?',
            text: "Una vez eliminada, no podrás recuperar esta persona.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'No, cancelar',
            preConfirm: () => {
                return fetch(`/users/persona/eliminar/${id}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No se pudo eliminar la persona');
                    }
                    return response.json();
                })
                .catch(error => {
                    Swal.showValidationMessage(`Error al eliminar: ${error}`);
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Eliminado!', 'La persona ha sido eliminada.', 'success');
                actualizarTablaPersonas();
            }
        });
    }
</script>
{% endblock %}
