{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Crear/Editar Rol</h1>

    <form id="rolForm" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Enviar
            <i class="bi bi-send"></i>
        </button>
    </form>

    <h5 class="mt-4">Listado de Roles</h5>
    <!-- Cuadro de búsqueda -->
    <div class="row mb-4">
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text" id="search-icon">
                    <i class="bi bi-person-badge-fill"></i>
                </span>
                <input type="text" id="searchnombre-input" class="form-control"
                    placeholder="Buscar por nombre rol..." aria-label="Buscar por nombre rol">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="rol-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario Creación</th>
                <th>Usuario Modificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in listado_rol %}
            <tr>
                <td>{{ rol.nombre }}</td>
                <td>{{ rol.usuario_creacion }}</td>
                <td>{{ rol.usuario_modificacion }}</td>
                <td>
                    <!-- Botón de editar -->
                    <button class="btn btn-warning btn-sm" data-id="{{ rol.id }}" data-nombre="{{ rol.nombre }}"
                        title="Editar" onclick="editarRol('{{ rol.id }}', '{{ rol.nombre }}');">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <!-- Botón de eliminar -->
                    <button class="btn btn-danger btn-sm" data-id="{{ rol.id }}" title="Eliminar"
                        onclick="eliminarRol('{{ rol.id }}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="3">No hay roles creados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'menu_principal' %}" class="btn btn-danger mb-3">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div>

<!-- Modal de confirmación para eliminar -->
<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel"
    >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarModalLabel">Eliminar Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este rol?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminarBtn">Sí, eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar género -->
<div class="modal fade" id="editarRolModal" tabindex="-1" aria-labelledby="editarRolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarRolModalLabel">Editar Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarRolForm">
                    <input type="hidden" id="edit-rol-id" name="id">
                    <div class="mb-3">
                        <label for="edit-nombre-rol" class="form-label">Nombre del Rol:</label>
                        <input type="text" class="form-control" id="edit-nombre-rol" name="nombre" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                    <i class="bi bi-x-circle"></i>
                </button>
                <button type="button" class="btn btn-primary btn-update" id="actualizarRolBtn">Actualizar
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para enviar el formulario de género mediante AJAX
    document.getElementById('rolForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const id = document.getElementById('id_rol') ? document.getElementById('id_rol').value : null;

        // Si estamos en modo edición, usamos PUT
        if (id) {
            Swal.fire({
                title: '¿Está seguro que desea actualizar este rol?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    enviarDatos(formData, id, 'PUT');  // Enviar los datos con método PUT
                }
            });
        } else {
            enviarDatos(formData, null, 'POST');  // Enviar los datos con método POST si es nuevo
        }
    });


    function enviarDatos(formData, id = null, method = 'POST') {
        const url = id ? `/users/roles/editar/${id}/` : '{% url "roles" %}';  // Cambia la URL si es edición
        fetch(url, {
            method: method,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.Rol) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: 'Rol creado con éxito.',
                    });

                    document.getElementById('rolForm').reset();  // Limpiar el formulario
                    actualizarTablaRoles();  // Actualizar la tabla
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'Hubo un problema al crear o actualizar el rol.',
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'Hubo un problema en la solicitud.',
                });
            });
    }
    // Función para actualizar la tabla de géneros
    function actualizarTablaRoles() {
        fetch('/users/roles/')
            .then(response => response.json())
            .then(data => {
                const tbody = document.querySelector('table tbody');
                tbody.innerHTML = '';  // Limpiar el contenido existente en la tabla

                data.forEach(rol => {
                    const row = `<tr>
                <td>${rol.nombre}</td>
                <td>${rol.usuario_creacion}</td>
                <td>${rol.usuario_modificacion}</td>
                <td>
                    <button class="btn btn-warning btn-sm" data-id="${rol.id}" data-nombre="${rol.nombre}" title="Editar"
                        onclick="editarRol('${rol.id}', '${rol.nombre}')">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-id="${rol.id}" title="Eliminar"
                        onclick="eliminarRol('${rol.id}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>`;
                    tbody.innerHTML += row;  // Insertar las nuevas filas en la tabla
                });
            });
    }

    // Función para manejar la edición
    function editarRol(id, nombre) {
        // Rellenar los datos en el modal
        document.getElementById('edit-rol-id').value = id;
        document.getElementById('edit-nombre-rol').value = nombre;

        // Mostrar el modal
        var editarRolModal = new bootstrap.Modal(document.getElementById('editarRolModal'));
        editarRolModal.show();
    }

    // Manejar la actualización del género al hacer clic en "Actualizar"
    document.getElementById('actualizarRolBtn').addEventListener('click', function () {
        const id = document.getElementById('edit-rol-id').value;
        const nombreOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-nombre');
        const nombreNuevo = document.getElementById('edit-nombre-rol').value;

        // Verificar si hubo cambios antes de enviar el formulario
        if (nombreNuevo !== nombreOriginal) {
            Swal.fire({
                title: '¿Guardar cambios?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar los datos con AJAX
                    const formData = new FormData(document.getElementById('editarRolForm'));
                    actualizarRol(formData);
                }
            });
        } else {
            Swal.fire('Sin cambios', 'No se han realizado cambios en el nombre del rol.', 'info');
        }
    });

    function actualizarRol(formData) {
        const id = document.getElementById('edit-rol-id').value;
        formData.append('id', id);
        fetch(`/users/roles/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos:", data);
                if (data.success) {
                    Swal.fire('Éxito', 'Rol actualizado con éxito.', 'success')
                        .then(() => {
                            location.reload();
                        });
                } else {
                    Swal.fire('Error', 'Hubo un problema al actualizar el Rol.', 'error');
                }
            })
            .catch(error => {
                Swal.fire('Error', 'Hubo un problema en la solicitud.', 'error');
            });
    }

    // Función para eliminar un rol con confirmación usando SweetAlert2
    function eliminarRol(id) {
        Swal.fire({
            title: '¿Está seguro?',
            text: "Una vez eliminado, no podrás recuperar este rol.",
            icon: 'warning',
            showCancelButton: true,
            
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'No, cancelar',
            preConfirm: () => {
                // Realizar la solicitud AJAX para eliminar el género inmediatamente después de confirmar
                return fetch(`/users/rol/eliminar/${id}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('No se pudo eliminar el rol');
                        }
                        return response.json();  // Retorna la respuesta JSON para SweetAlert2
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Error al eliminar: ${error}`  // Mostrar el error dentro del modal si algo sale mal
                        );
                    });
            },
            allowOutsideClick: () => !Swal.isLoading()  // No permitir clics fuera del modal mientras se está cargando
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Eliminado!',
                    'El rol ha sido eliminado.',
                    'success'
                );
                // Actualizar la tabla de géneros después de la eliminación exitosa
                actualizarTablaRoles();
            }
        });
    }

    document.getElementById('searchnombre-input').addEventListener('input', function() {
    var query = this.value;
    
    // Realizar la solicitud AJAX para buscar los registros
    fetch('/users/roles/searchrol_nombre/?q=' + query)
        .then(response => response.json())
        .then(data => {
            // Limpiar la tabla de resultados anteriores
            var tableBody = document.getElementById('rol-table').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = '';

            // Insertar los nuevos resultados
            data.forEach(function(rol) {
                var row = tableBody.insertRow();
                row.innerHTML = `
                    <td>${rol.nombre}</td>
                    <td>${rol.usuario_creacion}</td>
                    <td>${rol.usuario_modificacion}</td>
                <td>
            <button class="btn btn-warning btn-sm" 
                data-id="${rol.id}" 
                data-nombre="${rol.nombre}" 
                title="Editar"
                onclick="editarRol(
                    '${rol.id}',  
                    '${rol.nombre}')">
                <i class="bi bi-pencil"></i>
            </button>
                    <button class="btn btn-danger btn-sm" data-id="${rol.id}" title="Eliminar"
                        onclick="eliminarRol('${rol.id}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                `;
            });

            if (data.length === 0) {
                var row = tableBody.insertRow();
                row.innerHTML = '<td class="text-center" colspan="10">No hay registros de sucursales</td>';
            }
        })
        .catch(error => console.log('Error:', error));
});
</script>

{% endblock %}