{% extends 'base.html' %}
{% load static %}

{% block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rolOpcionModal">
    Crear Rol Opción
</button>

<div class="modal fade" id="rolOpcionModal" tabindex="-1" aria-labelledby="rolOpcionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rolOpcionLabel">Crear Rol Opción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="../roles_opciones/">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Rol Opción:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}