{% extends 'base.html' %}
{% load static %}

{% block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rolOpcionModal">
    Crear Rol Opción
</button>

<div class="modal fade" id="rolOpcionModal" tabindex="-1" aria-labelledby="rolOpcionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rolOpcionLabel">Crear Rol Opción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="../roles_opciones/">
          {% csrf_token %}
        {{form}}
            </br>
            
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<h5 class="mt-4">Listado Usuario Rol</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Rol</th>
                <th>Opcion</th>
                <th>Alta</th>
                <th>Bajo</th>
                <th>Cambio</th>
                <th>Imprimir</th>
                <th>Exportar</th>
                <th>Fecha Creación</th>
                <th>Fecha Modificacion</th>
                <th>Usuario Creacion</th>
                <th>Usuario Modificacion</th>
            </tr>
        </thead>
        <tbody>
            {% for rol_opcion in listado_rol_opcion %}
                <tr>
                    <td>{{ rol_opcion.rol }}</td>
                    <td>{{ rol_opcion.opcion }}</td>
                    <td>{{ rol_opcion.alta }}</td>
                    <td>{{ rol_opcion.bajo }}</td>
                    <td>{{ rol_opcion.cambio }}</td>
                    <td>{{ rol_opcion.imprimir }}</td>
                    <td>{{ rol_opcion.exportar }}</td>
                    <td>{{ rol_opcion.fecha_creacion }}</td>
                    <td>{{ rol_opcion.usuario_creacion }}</td>
                    <td>{{ rol_opcion.usuario_modificacion }}</td>
                    <td>{{ rol_opcion.fecha_modificacion }}</td>
                    <td><button class="btn btn-warning btn-sm" title="Editar">
                      <i class="bi bi-pencil"></i>
                    </button></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay registros.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</br>
<a href="{% url 'menu_principal' %}" class="btn btn-danger mb-3">
      <i class="bi bi-arrow-left"></i> Volver
  </a>
{% endblock %}