{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Crear Sucursal</h1>
    

    <form id="sucursalForm" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            <label for="id_direccion" class="form-label">{{ form.direccion.label }}</label>
            {{ form.direccion }}
        </div>
        <div class="mb-3">
            <label for="empresa" class="form-label">Seleccionar Empresa</label>
            <select class="form-select" name="empresa" id="empresa" required>
                <option selected disabled>
                    Seleccionar una Empresa
            </option>
            {%for empresa in listado_empresa%}
            <option value="{{ empresa.id }}">{{empresa.id}} - {{ empresa.nombre }}</option>
            {%endfor%}
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar
          <i class="bi bi-send"></i>
        </button>
    </form>

    <h5 class="mt-4">Listado Sucursales</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Empresa de la Sucursal</th>
                <th>Usuario Creacion</th>
                <th>Usuario Modificacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sucursal in listado_sucursal %}
                <tr>
                    <td>{{ sucursal.nombre }}</td>
                    <td>{{ sucursal.direccion }}</td>
                    <td>{{ sucursal.empresa.nombre }}</td>
                    <td>{{ sucursal.usuario_creacion }}</td>
                    <td>{{ sucursal.usuario_modificacion }}</td>
                    <td>
                        <!-- Botón de editar -->
                        <button class="btn btn-warning btn-sm" data-id="{{ sucursal.id }}"
                            data-nombre="{{ sucursal.nombre }}" data-direccion="{{ sucursal.direccion }}"
                            data-empresa="{{sucursal.empresa.id}}"
                            title="Editar" onclick="editarSucursal(
                            '{{ sucursal.id }}',
                            '{{ sucursal.nombre }}',
                            '{{ sucursal.direccion }}',
                            '{{ sucursal.empresa.id }}'
                        );">
                            <i class="bi bi-pencil"></i>
                        </button>

                        <!-- Botón de eliminar -->
                        <button class="btn btn-danger btn-sm" data-id="{{ sucursal.id }}" title="Eliminar"
                            onclick="eliminarSucursal('{{ sucursal.id }}');">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay registros de sucursal.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col">
            <a href="{% url 'menu_principal' %}" class="btn btn-danger mb-3 float-start">
                <i class="bi bi-arrow-left"></i> Volver
            </a>
        </div>
</div>

<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarModalLabel">Eliminar Sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar esta sucursal?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminarBtn">Sí, eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar sucursal -->
<div class="modal fade" id="editarSucursalModal" tabindex="-1" aria-labelledby="editarSucursalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarSucursalModalLabel">Editar Sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarSucursalForm">
                    <input type="hidden" id="edit-sucursal-id" name="id">
                    <div class="mb-3">
                        <label for="edit-nombre-sucursal" class="form-label">Nombre Sucursal:</label>
                        <input type="text" class="form-control" id="edit-nombre-sucursal" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-direccion-sucursal" class="form-label">Dirección Sucursal:</label>
                        <input type="text" class="form-control" id="edit-direccion-sucursal" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-empresa-sucursal" class="form-label">Seleccionar Empresa:</label>
                        <select class="form-select" id="edit-empresa-sucursal" name="empresa" required>
                            <option selected disabled>Seleccionar una Empresa</option>
                            {% for empresa in listado_empresa %}
                                <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                    <i class="bi bi-x-circle"></i>
                </button>
                <button type="button" class="btn btn-primary" id="actualizarSucursalBtn">Actualizar
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    // Función para enviar el formulario de empresa mediante AJAX
    document.getElementById('sucursalForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const id = document.getElementById('id_sucursal') ? document.getElementById('id_sucursal').value : null;

        // Si estamos en modo edición, usamos PUT
        if (id) {
            Swal.fire({
                title: '¿Está seguro que desea actualizar esta sucursal?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    enviarDatos(formData, id, 'PUT');  // Enviar los datos con método PUT
                }
            });
        } else {
            enviarDatos(formData, null, 'POST');  // Enviar los datos con método POST si es nuevo
        }
    });

    function enviarDatos(formData, id = null, method = 'POST') {
        const url = id ? `/users/sucursales/editar/${id}/` : '{% url "sucursales" %}';  // Cambia la URL si es edición
        fetch(url, {
            method: method,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.Sucursal) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: 'Sucursal creado con éxito.',
                    });

                    document.getElementById('sucursalForm').reset();  // Limpiar el formulario
                    actualizarTablaSucursales();  // Actualizar la tabla
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'Hubo un problema al crear o actualizar los datos de la sucursal.',
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'Hubo un problema en la solicitud.',
                });
            });
    }
    // Función para actualizar la tabla de sucursal
    function actualizarTablaSucursales() {
        fetch('/users/sucursales/')
            .then(response => response.json())
            .then(data => {
                const tbody = document.querySelector('table tbody');
                tbody.innerHTML = '';  // Limpiar el contenido existente en la tabla

                data.sucursales.forEach(sucursal => {
                    const row = `<tr>
                    <td>${sucursal.nombre}</td>
                    <td>${sucursal.direccion}</td>
                    <td>${sucursal.empresa_nombre}</td>
                    <td>${sucursal.usuario_creacion}</td>
                    <td>${sucursal.usuario_modificacion}</td>
                <td>
            <button class="btn btn-warning btn-sm" 
                data-id="${sucursal.id}" 
                data-nombre="${sucursal.nombre}" 
                data-direccion="${sucursal.direccion}"
                data-empresa="${sucursal.empresa_id}"
                title="Editar"
                onclick="editarSucursal(
                    '${sucursal.id}', 
                    '${sucursal.nombre}', 
                    '${sucursal.direccion}',  
                    '${sucursal.empresa_id}')">
                <i class="bi bi-pencil"></i>
            </button>
                    <button class="btn btn-danger btn-sm" data-id="${sucursal.id}" title="Eliminar"
                        onclick="eliminarSucursal('${sucursal.id}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>`;
                    tbody.innerHTML += row;  // Insertar las nuevas filas en la tabla
                });
            });
    }

    // Función para manejar la edición
    function editarSucursal(id, nombre, direccion, empresa) {
        // Rellenar los datos en el modal


    // Imprimir en consola los valores para depuración
    console.log("ID de Sucursal:", id);
    console.log("Nombre de Sucursal:", nombre);
    console.log("Dirección de Sucursal:", direccion);
    console.log("ID de Empresa:", empresa);  // Verifica que este ID sea correcto


        document.getElementById('edit-sucursal-id').value = id;
        document.getElementById('edit-nombre-sucursal').value = nombre;
        document.getElementById('edit-direccion-sucursal').value = direccion;
        document.getElementById('edit-empresa-sucursal').value = empresa;

        // Mostrar el modal
        var editarSucursalModal = new bootstrap.Modal(document.getElementById('editarSucursalModal'));
        editarSucursalModal.show();
    }

    // Manejar la actualización de la empresa al hacer clic en "Actualizar"
    document.getElementById('actualizarSucursalBtn').addEventListener('click', function () {
        const id = document.getElementById('edit-sucursal-id').value;
        // Obtener todos los datos originales de los atributos "data-"
        const nombreOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-nombre');
        const direccionOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-direccion');
        const empresaOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-empresa');


        // Obtener los nuevos valores ingresados en el formulario de edición
        const nombreNuevo = document.getElementById('edit-nombre-sucursal').value;
        const direccionNueva = document.getElementById('edit-direccion-sucursal').value;
        const empresaNueva = document.getElementById('edit-empresa-sucursal').value;

        // Verificar si hubo cambios antes de enviar el formulario
        if (nombreNuevo !== nombreOriginal || direccionNueva !== direccionOriginal || empresaNueva !== empresaOriginal) {
            Swal.fire({
                title: '¿Guardar cambios?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar los datos con AJAX
                    const formData = new FormData(document.getElementById('editarSucursalForm'));
                    actualizarSucursal(formData);
                }
            });
        } else {
            Swal.fire('Sin cambios', 'No se han realizado cambios en los campos de: Nombre Sucursal.', 'info');
        }
    });

    function actualizarSucursal(formData) {
        const id = document.getElementById('edit-sucursal-id').value;
        formData.append( 'id', id );
        fetch(`/users/sucursales/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos:", data);
                if (data.success) {
                    Swal.fire('Éxito', 'Datos de Sucursal actualizado con éxito.', 'success')
                    .then(() => {
                        // Actualizar el nombre y el usuario_modificacion en la tabla
                        location.reload();
                        /*const button = document.querySelector(`button[data-id="${id}"]`);
                        if (button) {
                            // Actualizar el nombre en la tabla
                            button.setAttribute('data-nombre', formData.get('nombre'));
                            button.closest('tr').querySelector('td:first-child').textContent = formData.get('nombre');

                            button.setAttribute('data-direccion', formData.get('direccion'));
                            button.closest('tr').querySelector('td:nth-child(2)').textContent = formData.get('direccion');

                            // cambio para obtener el nombre de la empresa
                        const empresaId = formData.get('empresa'); // Esto es el ID de la empresa
                        const empresaNombre = data.empresa_nombre;
                        button.setAttribute('data-empresa', empresaId);
                        button.closest('tr').querySelector('td:nth-child(3)').textContent = empresaNombre; // Usar el nombre de la empresa

                            // Actualizar el campo de usuario_modificacion (tercera columna)
                            console.log("Usuario modificación:", data.usuario_modificacion);
                            button.closest('tr').querySelector('td:nth-child(5)').textContent = data.usuario_modificacion;
                        }
                        // Cerrar el modal
                        var editarSucursalModal = bootstrap.Modal.getInstance(document.getElementById('editarSucursalModal'));
                        editarSucursalModal.hide();*/
                    });
                } else {
                    Swal.fire('Error', 'Hubo un problema al actualizar los datos de la sucursal.', 'error');
                }
            })
            .catch(error => {
                Swal.fire('Error', 'Hubo un problema en la solicitud.', 'error');
            });
    }
    
        // Función para eliminar una sucursal con confirmación usando SweetAlert2
        function eliminarSucursal(id) {
        Swal.fire({
            title: '¿Está seguro?',
            text: "Una vez eliminado, no podrás recuperar esta sucursal.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'No, cancelar',
            preConfirm: () => {
                // Realizar la solicitud AJAX para eliminar el género inmediatamente después de confirmar
                return fetch(`/users/sucursal/eliminar/${id}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('No se pudo eliminar la sucursal.');
                        }
                        return response.json();  // Retorna la respuesta JSON para SweetAlert2
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Error al eliminar: ${error}`  // Mostrar el error dentro del modal si algo sale mal
                        );
                    });
            },
            allowOutsideClick: () => !Swal.isLoading()  // No permitir clics fuera del modal mientras se está cargando
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Eliminado!',
                    'La sucursal ha sido eliminada.',
                    'success'
                );
                // Actualizar la tabla de géneros después de la eliminación exitosa
                actualizarTablaSucursales();
            }
        });
    }
    </script>

{% endblock %}