{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Crear/Editar Tipos de Acceso</h1>

    <form id="TipoAccesoForm" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Enviar
            <i class="bi bi-send"></i>
        </button>
    </form>

    <h5 class="mt-4">Listado de Tipos de Acceso</h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario Creación</th>
                <th>Usuario Modificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipoacceso in listado_tipoacceso %}
            <tr>
                <td>{{ tipoacceso.nombre }}</td>
                <td>{{ tipoacceso.usuario_creacion }}</td>
                <td>{{ tipoacceso.usuario_modificacion }}</td>
                <td>
                    <!-- Botón de editar -->
                    <button class="btn btn-warning btn-sm" data-id="{{ tipoacceso.id }}" data-nombre="{{ tipoacceso.nombre }}"
                        title="Editar" onclick="editarTipoAcceso('{{ tipoacceso.id }}', '{{ tipoacceso.nombre }}');">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <!-- Botón de eliminar -->
                    <button class="btn btn-danger btn-sm" data-id="{{ tipoacceso.id }}" title="Eliminar"
                        onclick="eliminarTipoAcceso('{{ tipoacceso.id }}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="3">No hay Tipos de Acceso Creados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'menu_principal' %}" class="btn btn-danger mb-3">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div>

<!-- Modal de confirmación para eliminar -->
<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarModalLabel">Eliminar Tipo Acceso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este Tipo Acceso?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminarBtn">Sí, eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar género -->
<div class="modal fade" id="editarTipoAccesoModal" tabindex="-1" aria-labelledby="editarTipoAccesoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarTipoAccesoModalLabel">Editar Tipo Acceso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarTipoAccesoForm">
                    <input type="hidden" id="edit-tipoacceso-id" name="id">
                    <div class="mb-3">
                        <label for="edit-nombre-tipoacceso" class="form-label">Nombre del Tipo Acceso:</label>
                        <input type="text" class="form-control" id="edit-nombre-tipoacceso" name="nombre" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                    <i class="bi bi-x-circle"></i>
                </button>
                <button type="button" class="btn btn-primary btn-update" id="actualizarTipoAccesoBtn">Actualizar
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para enviar el formulario de género mediante AJAX
    document.getElementById('TipoAccesoForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const id = document.getElementById('id_tipoacceso') ? document.getElementById('id_tipoacceso').value : null;

        // Si estamos en modo edición, usamos PUT
        if (id) {
            Swal.fire({
                title: '¿Está seguro que desea actualizar este tipo de acceso?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    enviarDatos(formData, id, 'PUT');  // Enviar los datos con método PUT
                }
            });
        } else {
            enviarDatos(formData, null, 'POST');  // Enviar los datos con método POST si es nuevo
        }
    });

    
    function enviarDatos(formData, id = null, method = 'POST') {
        const url = id ? `/users/tipoacceso/editar/${id}/` : '{% url "tipo_accesos" %}';  // Cambia la URL si es edición
        fetch(url, {
            method: method,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.TipoAcceso) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: 'Tipo de Acceso creado con éxito.',
                    });

                    document.getElementById('TipoAccesoForm').reset();  // Limpiar el formulario
                    actualizarTablaTipoAccesos();  // Actualizar la tabla
  // Mostrar detalles del error en la consola
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'Hubo un problema al crear o actualizar el tipo de acceso.',
                    });
                }
            })
            .catch(error => {

                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'Hubo un problema en la solicitud.',
                });
            });
    }
    // Función para actualizar la tabla de tipo de acceso
    function actualizarTablaTipoAccesos() {
        fetch('/users/tipo_accesos/')
            .then(response => response.json())
            .then(data => {
                const tbody = document.querySelector('table tbody');
                tbody.innerHTML = '';  // Limpiar el contenido existente en la tabla

                data.forEach(tipoacceso => {
                    const row = `<tr>
                <td>${tipoacceso.nombre}</td>
                <td>${tipoacceso.usuario_creacion}</td>
                <td>${tipoacceso.usuario_modificacion}</td>
                <td>
                    <button class="btn btn-warning btn-sm" data-id="${tipoacceso.id}" data-nombre="${tipoacceso.nombre}" title="Editar"
                        onclick="editarTipoAcceso('${tipoacceso.id}', '${tipoacceso.nombre}')">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-id="${tipoacceso.id}" title="Eliminar"
                        onclick="eliminarTipoAcceso('${tipoacceso.id}');">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>`;
                    tbody.innerHTML += row;  // Insertar las nuevas filas en la tabla
                });
            });
    }

    // Función para manejar la edición
    function editarTipoAcceso(id, nombre) {
        // Rellenar los datos en el modal
        document.getElementById('edit-tipoacceso-id').value = id;
        document.getElementById('edit-nombre-tipoacceso').value = nombre;

        // Mostrar el modal
        var editarTipoAccesoModal = new bootstrap.Modal(document.getElementById('editarTipoAccesoModal'));
        editarTipoAccesoModal.show();
    }

    // Manejar la actualización del tipo acceso al hacer clic en "Actualizar"
    document.getElementById('actualizarTipoAccesoBtn').addEventListener('click', function () {
        const id = document.getElementById('edit-tipoacceso-id').value;
        const nombreOriginal = document.querySelector(`button[data-id="${id}"]`).getAttribute('data-nombre');
        const nombreNuevo = document.getElementById('edit-nombre-tipoacceso').value;

        // Verificar si hubo cambios antes de enviar el formulario
        if (nombreNuevo !== nombreOriginal) {
            Swal.fire({
                title: '¿Guardar cambios?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar los datos con AJAX
                    const formData = new FormData(document.getElementById('editarTipoAccesoForm'));
                    actualizarTipoAcceso(formData);
                }
            });
        } else {
            Swal.fire('Sin cambios', 'No se han realizado cambios en el nombre del tipo acceso.', 'info');
        }
    });

    function actualizarTipoAcceso(formData) {
    const id = document.getElementById('edit-tipoacceso-id').value;

    fetch(`/users/tipoacceso/editar/${id}/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log("Datos recibidos:", data);
        if (data.success) {
            Swal.fire('Éxito', 'Tipo acceso actualizado con éxito.', 'success').then(() => {
                // Actualizar el nombre y el usuario_modificacion en la tabla
                const button = document.querySelector(`button[data-id="${id}"]`);
                if (button) {
                    // Actualizar el nombre en la tabla
                    button.setAttribute('data-nombre', formData.get('nombre'));
                    button.closest('tr').querySelector('td:first-child').textContent = formData.get('nombre');
                    
                    // Actualizar el campo de usuario_modificacion (tercera columna)
                    console.log("Usuario modificación:", data.usuario_modificacion);
                    button.closest('tr').querySelector('td:nth-child(3)').textContent = data.usuario_modificacion;
                }
                // Cerrar el modal
                var editarTipoAccesoModal = bootstrap.Modal.getInstance(document.getElementById('editarTipoAccesoModal'));
                editarTipoAccesoModal.hide();
            });
        } else {
            Swal.fire('Error', 'Hubo un problema al actualizar el Tipo de Acceso.', 'error');
        }
    })
    .catch(error => {
        Swal.fire('Error', 'Hubo un problema en la solicitud.', 'error');
    });
}

    // Función para eliminar un rol con confirmación usando SweetAlert2
    function eliminarTipoAcceso(id) {
        Swal.fire({
            title: '¿Está seguro?',
            text: "Una vez eliminado, no podrás recuperar este tipo de acceso.",
            icon: 'warning',
            showCancelButton: true,
            
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'No, cancelar',
            preConfirm: () => {
                // Realizar la solicitud AJAX para eliminar el género inmediatamente después de confirmar
                return fetch(`/users/tipoacceso/eliminar/${id}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('No se pudo eliminar el tipo de acceso');
                        }
                        return response.json();  // Retorna la respuesta JSON para SweetAlert2
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Error al eliminar: ${error}`  // Mostrar el error dentro del modal si algo sale mal
                        );
                    });
            },
            allowOutsideClick: () => !Swal.isLoading()  // No permitir clics fuera del modal mientras se está cargando
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Eliminado!',
                    'El tipo acceso ha sido eliminado.',
                    'success'
                );
                // Actualizar la tabla de tipo accesos después de la eliminación exitosa
                actualizarTablaTipoAccesos();
            }
        });
    }
</script>

{% endblock %}